provider_config:
  bms:
    ssh_pwd: {{ info.host_vm[0].password }}
    ssh_user: root
    ntpserver: pool.ntp.org
    domainsuffix: local
instances:
  bms1:
    provider: bms
    ip: {{ info.host_vm[0].ip_address }}
    roles:
      config_database:
      config:
      control:
      analytics_database:
      analytics:
      webui:
      vrouter:
      openstack:
      openstack_compute:
contrail_configuration:
  RABBITMQ_NODE_PORT: 5673
  CONTRAIL_VERSION: latest
  CLOUD_ORCHESTRATOR: openstack
  AUTH_MODE: keystone
  KEYSTONE_AUTH_URL_VERSION: /v3
kolla_config:
  kolla_globals:
    enable_haproxy: no
    kolla_internal_vip_address: {{ info.host_vm[0].ip_address }}
  kolla_passwords:
    keystone_admin_password: contrail123
